<h1>New post</h1>

<%= simple_form_for [@group, @post]  do |f| %>
    <%= f.input :content, :input_html => { :class => "input-xxlarge"} %>

    <div class="form-actions">
       <%= f.submit "Submit", :disable_with => 'Submiting...', :class => "btn btn-primary" %>
    </div>
<% end %>


<%= link_to 'Back', group_post_path(@group) %>